.header-wrapper {
    min-height: 600px;
    max-height: 756px;
    position: relative;
    overflow: hidden;
}
  
.header-wrapper > * {
    position: static;
}
  
.header-wrapper::after {
    content: '';
    display: table;
    clear: both;
}

.title{
    margin-top: 30px;
    margin-left: 64px;
    height: 32px;
}